.encabezado{
    
    /*background-color: rgb(1, 119, 253);*/
    display: flex;
    justify-content: center;

}
h5
{
    text-align: center;
}
nav{
    display: grid;
    justify-content: center;
    background-color:rgb(2, 0, 117);
    
}
